@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;800&display=swap');
:root {
    --blue: #37E2D5;
    --voilet: #590696;
    --pink:#C70A80;
    --yellow:#FBCB0A;
    --black:#121420;
  }

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Montserrat', sans-serif;
    
}
body{
    background-color: #121420;
    
}
a{
    text-decoration: none;
    color: #FBCB0A;
}
.footer{
    width: 100%;
    color: #37E2D5;
    text-align: center;
}

